name: Playwright Tests
on:
  push:
    branches:
      - "**"
  pull_request:
    branches: [ main, master ]
permissions:
  contents: read
  actions: read
  checks: write
jobs:
  playwright:
    env:
      DISPLAY: :0
    name: 'Playwright Tests'
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build & Install
        run: mvn -B install -D skipTests --no-transfer-progress
      - name: Install Playwright
        run: mvn exec:java -e -D exec.mainClass=com.microsoft.playwright.CLI -D exec.args="install --with-deps"
      - name: Run tests
        run: xvfb-run mvn test
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure() # always run even if the previous step fails
        with:
            check_name: 'Tests results'
            report_paths: '**/target/surefire-reports/TEST-*.xml'
            include_passed: true