name: Playwright Tests
on:
  push:
    branches:
      - "**"
  pull_request:
    branches: [ main, master ]
permissions:
  contents: read
  actions: read
  checks: write
jobs:
  playwright:
    env:
      DISPLAY: :0
    name: 'Playwright Tests'
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright/java:v1.42.0-jammy
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Install dependencies
        run: npm ci
      - name: Install allure
        run: apt install allure
      - name: Build & Install
        run: mvn -B install -D skipTests --no-transfer-progress
      - name: Run tests
        run: xvfb-run mvn test
      - name: Generate allure report
        run: allure generate target/allure-results -o target/allure-report --clean --single-file
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure() # always run even if the previous step fails
        with:
            check_name: 'Tests results'
            report_paths: '**/target/surefire-reports/TEST-*.xml'
            include_passed: true
      - name: Upload allure results
        uses: actions/upload-artifact@v4
        with:
          name: 'allure-report'
          path: 'target/allure-report/index.html'